<!-- About Section -->
<section class="success" id="about">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>About</h2>
        <i class="fa-solid fa-palette"></i>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4">
        <p>Cory Spraker is a multidisciplinary artist whose work draws attention to the delicacy of human form, often expressed through layering 
          and mark making. Caught in moments of solitude or introspection, figures in his work are isolated by light from outside their world; 
          drawing attention to their repose and contemplation. other elements, pulled from nature, refer back to the human figures at the center 
          of each work.
          Cory received his BFA in Painting with a concentration in drawing from SUNY New Paltz in 2014. 
          He currently lives and works in New York's Hudson Valley.</p>
      </div>
    </div>
  </div>
</section>
