<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr"><div class="rl"></div></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <!-- Title & Description -->
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.description %}
              <p>{{ post.description }}</p>
            {% endif %}

            {% if post.images %}

              {% if post.display == "grid" %}
            
              <!-- GRID VIEW -->
              <div class="row portfolio-grid">
                {% for image in post.images %}
              <div class="col-sm-4">
                <a href="{{ '/img/portfolio/' | relative_url }}{{ image.file }}" title="{{ image.caption}}">
                  <img src="{{ '/img/portfolio/' | relative_url }}{{ image.file }}" class="img-responsive img-centered">
                </a>
                <p> class="text-center">{{ image.caption }}</p>p>
              </div>
                {% endfor %}
              </div>
            
              {% else %}
            
              <!-- CAROUSEL VIEW -->
              <div id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">
            
                <!-- Indicators -->
                <ol class="carousel-indicators">
                  {% for image in post.images %}
                    <li data-target="#carousel-{{ post.modal-id }}" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                  {% endfor %}
                </ol>
            
                <!-- Slides -->
                <div class="carousel-inner">
                  {% for image in post.images %}
                    <div class="item {% if forloop.first %}active{% endif %}">
                      <img src="{{ '/img/portfolio/' | relative_url }}{{ image }}" class="img-responsive img-centered">
                    </div>
                  {% endfor %}
                </div>
            
                <!-- Controls -->
                <a class="left carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="prev">
                  <i class="fa fa-chevron-left fa-2x"></i>
                </a>
                <a class="right carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="next">
                  <i class="fa fa-chevron-right fa-2x"></i>
                </a>
            
              </div>
            
              {% endif %}
          
          {% endif %}

            <!-- Project Details -->
            <ul class="list-inline item-details">
              {% if post.client %}<li>Client: <strong>{{ post.client }}</strong></li>{% endif %}
              {% if post.project-date %}<li>Date: <strong>{{ post.project-date }}</strong></li>{% endif %}
              {% if post.category %}<li>Service: <strong>{{ post.category }}</strong></li>{% endif %}
            </ul>

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
