<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr"><div class="rl"></div></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <!-- Title & Description -->
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.description %}
              <p>{{ post.description }}</p>
            {% endif %}

            {% if post.images %}

            <div class="portfolio-slideshow" data-modal="{{ post.modal-id }}">
            
              <!-- Slides -->
              {% for image in post.images %}
              <div class="portfolio-slide" data-modal="{{ post.modal-id }}">
                <img src="img/portfolio/{{ image }}" class="portfolio-slide-img" onclick="openPortfolioLightbox(this)">
              </div>
              {% endfor %}
            
              <!-- Left/Right Controls -->
              <a class="portfolio-prev" onclick="changePortfolioSlide('{{ post.modal-id }}', -1)">
                &#10094; <!-- left arrow symbol -->
              </a>
              <a class="portfolio-next" onclick="changePortfolioSlide('{{ post.modal-id }}', 1)">
                &#10095; <!-- right arrow symbol -->
              </a>
            
            </div>
            
            <!-- Navigation dots -->
            <div class="portfolio-dots">
              {% for image in post.images %}
              <span class="portfolio-dot"
                    data-modal="{{ post.modal-id }}"
                    onclick="showPortfolioSlideByModal('{{ post.modal-id }}', {{ forloop.index }})">
              </span>
              {% endfor %}
            </div>
            
            {% else %}
            
            <!-- Fallback single image -->
            <img src="img/portfolio/{{ post.img }}" class="portfolio-slide-img" onclick="openPortfolioLightbox(this)">
            
            {% endif %}

            <!-- Project Details -->
            <ul class="list-inline item-details">
              {% if post.client %}<li>Client: <strong>{{ post.client }}</strong></li>{% endif %}
              {% if post.project-date %}<li>Date: <strong>{{ post.project-date }}</strong></li>{% endif %}
              {% if post.category %}<li>Service: <strong>{{ post.category }}</strong></li>{% endif %}
            </ul>

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
