<!-- Portfolio Modals -->
{% for post in site.posts %}
<div class="portfolio-modal modal fade" id="portfolioModal-{{ post.modal-id }}" tabindex="-1" role="dialog"
  aria-hidden="true">
  <div class="modal-content">
    <div class="close-modal" data-dismiss="modal">
      <div class="lr"><div class="rl"></div></div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-lg-offset-2">
          <div class="modal-body">

            <!-- Title & Description -->
            <h2>{{ post.title }}</h2>
            <hr class="star-primary">
            {% if post.description %}
              <p>{{ post.description }}</p>
            {% endif %}

            <!-- Single Featured Image (optional) -->
            {% if post.img %}
              <img src="/img/portfolio/{{ post.img }}" class="img-responsive img-centered" alt="{{ post.alt }}">
            {% endif %}

            <!-- Carousel for multiple images -->
            {% if post.images %}
            <div id="carousel-{{ post.modal-id }}" class="carousel slide" data-ride="carousel">

              <!-- Indicators -->
              <ol class="carousel-indicators">
                {% for image in post.images %}
                  <li data-target="#carousel-{{ post.modal-id }}" data-slide-to="{{ forloop.index0 }}" class="{% if forloop.first %}active{% endif %}"></li>
                {% endfor %}
              </ol>

              <!-- Slides -->
              <div class="carousel-inner">
                {% for image in post.images %}
                  <div class="item {% if forloop.first %}active{% endif %}">
                    <img src="/img/portfolio/{{ image }}" class="img-responsive img-centered">
                  </div>
                {% endfor %}
              </div>

              <!-- Controls -->
              <a class="left carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
              </a>
              <a class="right carousel-control" href="#carousel-{{ post.modal-id }}" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
              </a>

            </div>
            {% endif %}

            <!-- Project Details -->
            <ul class="list-inline item-details">
              {% if post.client %}
                <li>Client: <strong>{{ post.client }}</strong></li>
              {% endif %}
              {% if post.project-date %}
                <li>Date: <strong>{{ post.project-date }}</strong></li>
              {% endif %}
              {% if post.category %}
                <li>Service: <strong>{{ post.category }}</strong></li>
              {% endif %}
            </ul>

            <button type="button" class="btn btn-default" data-dismiss="modal">
              <i class="fa fa-times"></i> Close
            </button>

          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endfor %}
  </div>
</div>
{% endfor %}
