<!-- Portfolio Grid Section -->
<section id="portfolio">
  <div class="container portfolio-flex-grid">
    
    <div class="row">
      <div class="col-lg-12 text-center">
        <h2>Portfolio</h2>
        <hr class="star-primary">
      </div>
    </div>

    <div class="portfolio-flex-row">
      {% for post in site.posts %}
      
      <div class="portfolio-flex-item">
        <a href="#portfolioModal-{{ post.modal-id }}" 
           class="portfolio-link" 
           data-toggle="modal">

          <!-- Image container -->
          <div class="portfolio-thumb">
            <img src="img/portfolio/{{ post.img }}" 
                 class="portfolio-thumb-img" 
                 alt="{{ post.alt }}">
          </div>

          <!-- Hover overlay -->
          <div class="caption">
            <div class="caption-content">
            </div>
          </div>

        </a>
      </div>

      {% endfor %}
    </div>

  </div>
</section>
